---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts"))
  .filter((p) => p.data.category === "how-to")
  .slice(0, 3);
---

  
    The Practical Packet
    Hands-On Networking for the Real World.
    <a href="/how-to">Start Learning</a>
  

  
    Featured How-To Guides
    
      {posts.map((post) => (
        <PostCard post={post} />
      ))}
    


