<header>
  <nav>
    <a class="logo" href="/">The Practical Packet</a>

    <ul>
      <li><a href="/how-to">How-To</a></li>
      <li><a href="/security">Security</a></li>
      <li><a href="/best-practices">Best Practices</a></li>
      <li><a href="/vendor">Vendor</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
    </ul>
  </nav>
</header>
    






