---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article class="post">
    <h1>{frontmatter.title}</h1>
    <p class="meta">Published: {frontmatter.pubDate}</p>
    <slot />
  </article>
</BaseLayout>


