---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const props = Astro.props;
const title = props.title ?? "The Practical Packet";
const description = props.description ?? "Hands-On Networking for the Real World.";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="stylesheet" href="/src/styles/global.css" />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
